header {
    background-color: #0d1117;
    color: #e6edf3;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    scroll-behavior: smooth;
    z-index: 100;
    top: 0;
}

header ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    padding: 0;
}
header ul li {
    margin: 0 40px;
    font-size: 20px;
    cursor: pointer;
}

header ul li:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
}

header span{
    margin-left: 40px;
}
header span a{
    font-size: 20px;
    text-decoration: none;
    color: #e6edf3;
    cursor: default;
}

@media (max-width: 1200px) {
    header ul li {
        margin: 0 20px;
    }
}

@media (max-width: 650px) {
    header ul li {
        font-size: 17px;
    }
    header span a{
        font-size: 17px;
    }
}
@media (max-width: 500px) {
    header ul li {
        margin: 0 10px;
        font-size: 13px;
    }
    header span {
        margin-left: 20px;
    }
    header span a{
        font-size: 15px;
    }
    header ul{
        margin-right: 10px;
    }
}
@media (max-width: 350px) {
    header ul li {
        margin: 0 10px;
        font-size: 10px;
    }
    header span {
        margin-left: 10px;
    }
    header span a {
        font-size: 13px;
    }
}
@media (max-width: 290px) {
    header ul li {
        margin: 0 5px;
    }
}